.job-postings-container {
    margin-bottom: 30px;

    .job-posting {
        cursor: pointer;
        -webkit-transition: background-color 2s; /* For Safari */
        transition: background-color 2s; /* For modern browsers */
    
        &:hover {
            background-color: darkgrey;
        }
    }
}


.modals {
    .ui.modal {
        .header.job-posting-detail-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            .job-posting-detail-position-information {
                margin-left: 10px;
            }
        }

        .job-posting-detail-location-and-salary {
            margin-bottom: 20px;
        }
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
